CompileFlags:
  Add:
    - "-fms-compatibility"
    - "-fms-extensions"
    - "-fdelayed-template-parsing"
    - "-std=c++c20"
    - "-Wno-unknown-pragmas"
    - "-Wno-microsoft-include"
  Remove:
    - "/nologo"
    - "/TP"
    - "/GR"
    - "/EHsc"
    - "/O2"
    - "/Ob2"
    - "/DNDEBUG"
    - "/FS"
    - "/MD"
    - "/Fo*"
    - "/Fd*"
    - "/Zi"
    - "/RTC1"
    - "/GS"
    - "/W3"
    - "/WX-"
    - "/sdl"
